.cover__link{
    display: flex;
    background-image: url(../../../sprint-3-images/cover-trains.jpg);
    background-repeat: no-repeat;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: scale-down;
    background-size: cover;
    text-decoration: none;
    width: 1184px;
    height: 740px;
    position: relative;
    z-index: 0;
}

@media screen and (max-width: 1024px) {
    .cover__link {
       width: 1024px;
       height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__link {
       width: 768px;
       height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover__link {
       width: 320px;
       height: 200px;
    }
}

.cover__link::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #2A2C2F;
    opacity: .3;
    z-index: -1;
    transition: opacity .3s ease;
}

.cover__link:hover::before{
    opacity: .8;
}
