.footer__wrap{
    max-width: 1184px;
    width: 100%;
    min-height: 18px;
    display: flex;
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
    /*outline: solid rgb(47, 255, 0);*/
    padding: 0;
}

@media screen and (max-width: 1124px) {
    .footer__wrap {
        max-width: 928px;
    }
}

@media screen and (max-width: 984px) {
    .footer__wrap {
        max-width: 720px;
    }
}

@media screen and (max-width: 568px) {
    .footer__wrap {
        flex-wrap: wrap;
        max-width: 186px;
        min-height: 310px;
    }
}
