.footer__wrap{
    width: 1184px;
    height: 18px;
    display: flex;
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
    /*outline: solid rgb(47, 255, 0);*/
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .footer__wrap {
        width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .footer__wrap {
        width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .footer__wrap {
        flex-wrap: wrap;
        width: 186px;
        height: 310px;
    }
}
