.place__content {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  /*flex-wrap: wrap;*/
}

@media screen and (max-width: 722px) {
  .place__content {
    margin-top: 32px;
    flex-wrap: wrap;
  }
}
