.lead {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  /*outline: solid green;*/
  box-sizing: border-box;
  padding: 0 148px;
}

@media screen and (max-width: 1124px) {
  .lead {
    padding: 0 48px;
  }
}

@media screen and (max-width: 984px) {
  .lead {
    padding: 0;
  }
}

@media screen and (max-width: 568px) {
  .lead {
    padding: 0;
  }
}
