.header__logo{
    background-image: url(../../../sprint-3-images/header-logo.svg);
   /* padding: 0;*/
    /*width: 176px;*/
    min-width: 176px;
    min-height: 52px;
    object-fit: contain;
}


@media screen and (max-width: 568px) {
    .header__logo{
        /*object-fit: contain;*/
        min-width: 142px;
        min-height: 42px;
        background-image: url(../../../sprint-3-images/header-logo320.svg);
    }
}
