.place__paragraphs{
    margin-left: 40px;
    max-width: 484px;
}

@media screen and (max-width: 1124px) {
    .place__paragraphs{
        max-width: 456px;
        margin-left: 32px;
    }
}

@media screen and (max-width: 984px) {
    .place__paragraphs{
        max-width: 352px;
        margin-left: 28px;
    }
}

@media screen and (max-width: 568px) {
    .place__paragraphs{
        max-width: 288px;
        margin: 32px 16px 0;
        /*outline: solid green;*/
    }
}
