.intro {
  display: flex;
  max-width: 690px;
  flex-direction: column;
  /*outline: solid red;*/
  padding: 0 148px;
}

@media screen and (max-width: 1124px) {
  .intro {
    padding: 0 48px;
  }
}

@media screen and (max-width: 984px) {
  .intro {
    max-width: 720px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 722px) {
  .intro {
    max-width: 288px;
    padding: 0 16px;
    margin: 0 auto;
  }
}
