.footer {
  max-width: 1184px;
  display: flex;
  padding: 0;
  margin: 0 48px;
  /*outline: solid red;*/
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

@media screen and (max-width: 1124px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 984px) {
  .footer {
    max-width: 720px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 722px) {
  .footer {
    display: block;
    flex-wrap: wrap;
    justify-content: start;
    margin-left: 16px;
  }
}
